@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Base styles */
@layer base {
  /* :root {
    color-scheme: light dark;
  } */

  /* * {
    @apply transition-colors duration-10;
  } */

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

/* Utility styles */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
